* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is used with padding only, it doesn't work with margin */
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* Hero Section */

  .hero-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
  }

  .hero-image {
    width: 100%;
    height: 852px;
    object-fit: cover;
    object-position: 72%;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 135px;
    height: 93px;
  }

  .hamburger {
    position: absolute;
    right: 42px;
    top: 38px;
  }

  .hero-paragraph {
    margin: 0 30px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    letter-spacing: 2.5px;
    position: absolute; /* moves it into the hero image this way, since I've got position: relative on the parent */
    bottom: 40%;
    width: 20px; /* to make it so that the words are one under another */
  }

  .scroll-down-icon {
    position: absolute;
    bottom: 2%;
    left: 50%;
  }

  /* Our Mission section */

  .our-mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .our-mission-title {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    margin-left: 21px;
    margin-top: 32px;
    margin-bottom: 17px;
    align-self: flex-start; /* using this so that it doesn't get affected by justify-content and align-items: center on the parent element */
  }

  .our-mission-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 75%;
    margin-bottom: 25px;
  }

  .our-mission-paragraph-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .our-mission-image {
    height: 206px;
    width: 311px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px; /* will change that later for sure */
  }

  /* Our Services section */

  .our-services {
    background-color: #00242e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-services-align {
    width: 85%;
  }

  .our-services-title {
    width: 100%;
    align-self: flex-start;
    padding-left: 21px; /* Using padding instead of margin here is best, because if I use margin, the title which takes 100% width will overflow outside of the parent element and the horizontal scroll will appear */
    margin-top: 43px;
    margin-bottom: 31px;
    font-size: 22px;
  }

  .our-services p,
  a {
    color: white;
    font-family: "Open Sans", sans-serif;
  }

  .our-services,
  a {
    text-decoration: none;
  }

  .design-installations-title,
  .maintenance-title,
  .consulting-title {
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: 600;
    font-style: italic;
  }

  .design-installations-paragraph,
  .maintenance-paragraph,
  .consulting-paragraph,
  .service-link {
    font-size: 13px;
    margin-top: 0px;
  }

  .service-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .service-link {
    margin-left: 3px;
  }

  .all-services {
    margin-bottom: 39px;
  }

  /* Call-To-Action section */

  .call-to-action {
    position: relative;
  }

  .call-to-action-title {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: 9.5%;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
  }

  .call-to-action-paragraph {
    width: 77%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 11%;
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    text-shadow: 1px 1px 2px black;
  }

  .contact-us-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 68%;
    left: 35%;
    width: 30%; /* This makes the button stay in the center, no matter what the dimensions of the screen are */
  }

  .leaves-image {
    width: 100%;
    height: auto;
    display: block; /* This eliminates any potential whitespace below the "leaves-image" that could be added by the browser’s default image styling */
  }

  /* Footer section */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00242e;
  }

  .footer-logo {
    width: 108px;
    height: 71px;
    margin-top: 40px;
  }

  .horizontal-line {
    width: 70%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .instagram-img,
  .twitter-img,
  .linkedin-img {
    width: 15px;
    height: 15px;
    position: relative;
  }

  .instagram-link,
  .twitter-link,
  .linkedin-link {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    position: absolute;
    margin-left: 5px;
  }

  .follow-us {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 70%;
    padding-left: 2px;
    margin-bottom: 4px;
    margin-top: 10px;
  }

  .company,
  .our-solutions {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 70%;
    padding-left: 2px;
    margin-bottom: 4px;
    margin-top: 25px;
  }

  .socials,
  .blog-and-news,
  .services,
  .about-us,
  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    width: 70%;
    font-size: 13px;
    margin-top: 9px;
    padding-left: 3px;
  }

  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    font-style: italic;
  }

  .copyright {
    width: 60%;
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 9px;
    margin-top: 90px;
    margin-bottom: 5px;
  }
}
