* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is used with padding only, it doesn't work with margin */
  font-family: "Open sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* Hero Section */

  .hero-container {
    position: relative; /* Ensure this container can be the reference point for absolute positioning */
    width: 100%;
    height: 100vh;
  }

  .hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 72%;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 135px;
    height: 93px;
  }

  /* Hamburger Menu starts here */

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: right;
    margin-left: 77%;
    position: absolute;
    top: 6%;
  }

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 13px;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    padding-top: 60px;
    z-index: 1;
  }

  .menu.show {
    transform: translateX(0);
  }

  .menu a {
    color: black;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #555;
  }

  .menu a:hover {
    opacity: 0.5;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Hamburger Menu ends here */

  .hero-paragraph {
    position: absolute; /* Position this element absolutely within its relative container */
    top: 43%;
    left: 7%;
    color: white;
    font-size: 35px;
    letter-spacing: 2.5px;
  }

  .scroll-down-icon {
    position: absolute; /* Position this element absolutely within its relative container */
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%); /* Center the element horizontally */
  }

  /* Our Mission section */

  .our-mission,
  .our-services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .our-mission-title {
    font-size: 22px;
    margin-left: 21px;
    margin-top: 32px;
    margin-bottom: 17px;
    align-self: flex-start; /* using this so that it doesn't get affected by justify-content and align-items: center on the parent element */
  }

  .our-mission-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 75%;
    margin-bottom: 25px;
  }

  .our-mission-paragraph-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .our-mission-image {
    height: 206px;
    width: 311px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px; /* will change that later for sure */
  }

  .title-and-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Our Services section */

  .our-services {
    background-color: #00242e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-services-align {
    width: 85%;
  }

  .our-services-title {
    width: 100%;
    align-self: flex-start;
    padding-left: 21px; /* Using padding instead of margin here is best, because if I use margin, the title which takes 100% width will overflow outside of the parent element and the horizontal scroll will appear */
    margin-top: 43px;
    margin-bottom: 31px;
    font-size: 22px;
  }

  .our-services p,
  a {
    color: white;
    font-family: "Open Sans", sans-serif;
  }

  .our-services,
  a {
    text-decoration: none;
  }

  .design-installations-title,
  .maintenance-title,
  .consulting-title {
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: 600;
    font-style: italic;
  }

  .design-installations-paragraph,
  .maintenance-paragraph,
  .consulting-paragraph,
  .service-link {
    font-size: 13px;
    margin-top: 0px;
  }

  .service-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .service-link {
    margin-left: 3px;
  }

  .all-services {
    margin-bottom: 39px;
  }

  /* Call-To-Action section */

  .call-to-action {
    position: relative;
  }

  .call-to-action-title {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: 9.5%;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
  }

  .call-to-action-paragraph {
    width: 77%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 11%;
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    text-shadow: 1px 1px 2px black;
  }

  .contact-us-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 68%;
    left: 35%;
    margin-top: 20px;
  }

  .contact-us-btn a {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    background: linear-gradient(
      to bottom,
      rgba(153, 153, 153, 0.3),
      rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
  }

  .contact-us-btn a:hover {
    background: linear-gradient(
      to bottom,
      rgba(153, 153, 153, 0.4),
      rgba(255, 255, 255, 0.4)
    );
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  .leaves-image {
    width: 100%;
    height: auto;
    display: block; /* This eliminates any potential whitespace below the "leaves-image" that could be added by the browser’s default image styling */
  }

  /* Footer section */
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #00242e;
  }

  .logo-and-horizontal-line {
    display: grid;
    justify-content: center;
  }

  .footer-logo {
    width: 108px;
    height: 71px;
    margin-top: 40px;
  }

  .horizontal-line {
    width: 45%;
    margin: 3% auto;
  }

  .socials-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .company-links {
    display: grid;
    justify-content: center;
  }

  .our-solutions-links {
    display: grid;
    justify-content: center;
  }

  .instagram-img,
  .twitter-img,
  .linkedin-img {
    width: 15px;
    height: 15px;
    position: relative;
  }

  .instagram-link,
  .twitter-link,
  .linkedin-link {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    /* position: absolute; */
    margin-left: 5px;
  }

  .follow-us {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 10px;
  }

  .company,
  .our-solutions {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 2px;
    margin-bottom: 4px;
    margin-top: 25px;
  }

  .our-solutions {
    display: grid;
    justify-content: center;
  }

  .socials,
  .blog-and-news,
  .services,
  .about-us,
  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    font-size: 13px;
    margin-top: 9px;
    padding-left: 3px;
  }

  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    font-style: italic;
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 9px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 5px;
  }

  /* --------------ABOUT US PAGE-------------- */

  .hero {
    background-color: #00242e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .text-and-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin-top: 10rem;
  }

  .hero-small-heading {
    color: white;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 2rem;
  }

  .hero-big-heading {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .hero-img {
    width: 92%;
    height: 230px;
    border-radius: 28px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .hero-img-about-us {
    width: 100%;
    height: 230px;
    border-radius: 28px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* History section */

  .history-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
  }

  .history-heading {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
  }

  .history-paragraph {
    padding: 5% 7%;
    font-size: 13px;
  }

  .history-milestones {
    font-size: 13px;
    padding: 0% 7% 5% 7%;
  }

  .history-years li {
    font-size: 13px;
    /* list-style-type: circle  */ /* Doesn't show because of the 7% padding below */
    padding: 1% 7%;
  }

  .bold-years {
    font-weight: bold;
  }

  .bold-years-last {
    margin-bottom: 5%;
  }

  /* Leadership Section of About Us page */

  .leadership-section {
    background-color: #00242e;
    display: flex;
    flex-direction: column;
    padding: 0 3.3rem;
  }

  .leadership-heading {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 400;
    margin: 1.8rem 0;
  }

  .ceo-name,
  .cto-name,
  .head-of-energy-name {
    font-size: 1.75rem;
    margin-top: 1.75rem;
    color: white;
  }

  .ceo-position,
  .cto-position,
  .head-of-energy-position {
    font-size: 1.125rem;
    margin-top: 2.4rem;
    color: white;
  }

  .ceo-paragraph,
  .cto-paragraph,
  .head-of-energy-paragraph {
    font-size: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 1.8rem;
    color: white;
  }

  /* I don't like the height of the CTO image, but I'll leave it like that for now */
  .cto-image,
  .head-of-energy-image {
    margin-top: 2rem;
  }

  .quote-image {
    width: 100%;
    height: 44px;
    margin-top: 1.1rem;
    margin-bottom: 1rem;
  }

  .quote-paragraph {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 1.8rem;
    color: white;
  }

  .quote-horizontal-line {
    margin: 0 -3.3rem; /* ignores the 3.3rem padding on the parent element */
  }

  /* ----------------------------SERVICES PAGE---------------------------- */

  .our-services-heading {
    font-size: 22px;
    margin-top: 32px;
    margin-bottom: 17px;
  }

  .our-services-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.3rem;
  }

  .service-images {
    height: 240px;
    border-radius: 13px;
    object-fit: cover;
  }

  .service-name {
    font-size: 1rem;
    font-style: italic;
    font-weight: 750;
    margin-top: 0.87rem;
  }

  .service-paragraph {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  /* Accordion */

  .accordion {
    width: 100%;
    max-width: none;
    overflow: hidden;
    margin-top: 20px;
    background-color: #00242e;
    border-radius: 16px;
  }

  .accordion__intro {
    position: relative;
    padding: 20px;
    cursor: pointer;
  }

  .accordion__content {
    font-size: 13px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    color: #f1f1f1;
    opacity: 0;
  }

  .accordion__active .accordion__content {
    padding: 0 20px 20px;
    margin-bottom: 20px;
    opacity: 1;
  }

  h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }

  .the-services {
    display: flex;
    align-items: center;
    margin: 2rem 0 1.3rem 0;
  }

  .link-service {
    color: black;
    margin-left: 3px;
    font-size: 13px;
  }

  .object-fit-image {
    object-fit: cover;
    object-position: 20% 33%;
  }

  .object-fit-image-consulting {
    object-fit: cover;
    object-position: 20% 53%;
  }

  /* ----------------------------PROJECTS PAGE---------------------------- */

  .our-projects-heading,
  .our-client-testimonials {
    font-size: 22px;
    margin: 22px 0;
    text-align: center;
  }

  .testimonial-picture {
    display: flex;
    justify-content: center;
  }

  .testimonial-picture img {
    width: 65px;
    height: 65px;
    object-fit: cover;
  }

  .client-one {
    border-radius: 50%;
  }

  .client-name {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  .client-title {
    font-size: 10px;
    margin: 10px auto;
    width: 200px;
    text-align: center;
  }

  .quote-container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 5vw;
  }

  .client-paragraph {
    position: relative;
    margin: 0 auto 25px auto;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 306px;
  }

  .client-quote-1 {
    position: absolute;
    left: 1vw;
    top: 0;
    width: 4vw;
    height: auto;
  }

  .client-quote-2 {
    position: absolute;
    right: 1vw;
    bottom: 0;
    width: 4vw;
    height: auto;
  }

  /* ----------------------------CONTACT US PAGE---------------------------- */

  .contact-us {
    font-size: 28px;
    margin: 20px 0 0 0;
    text-align: center;
  }

  /* Center the form container in the middle of the screen */
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  /* Style the form to make inputs stack vertically and center-align */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    padding: 5px 20px 20px 20px;
  }

  /* Style each input field and the submit button */
  .form input[type="text"],
  .form input[type="email"],
  .form textarea,
  .form input[type="submit"] {
    width: 100%;
    margin-bottom: 12px;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 13px;
    box-sizing: border-box;
  }

  .form input[type="submit"] {
    padding: 12px;
  }

  .form input[type="submit"] {
    background-color: #1f3144;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }

  .form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .address {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .office-location-text {
    font-weight: 800;
    font-size: 20px;
    width: 69%;
    margin: 0 auto;
  }

  .email {
    color: #1f3144;
  }

  .map-container {
    width: 340px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  iframe {
    width: 100%;
  }

  /* ----------------------------BLOG AND NEWS PAGE---------------------------- */

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
  }

  .card-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
  }

  .card-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    margin: 5px 0 10px;
    max-height: 45px; /* Limit height to fit around 2 lines */
    overflow: hidden;
  }

  /* Date */
  .card-date {
    width: 100%;
    text-align: right;
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

/* ------------------------DESKTOP VERSION STYLES------------------------ */

@media only screen and (min-width: 1200px) {
  /* Hamburger Menu starts here */

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: right;
    margin-left: 77%;
    position: absolute;
    top: 6%;
  }

  .hamburger .line {
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(0);
    padding-top: 60px;
    z-index: 1;
  }

  .menu.show {
    /* transform: translateX(0); */
  }

  .menu a {
    color: black;
    text-decoration: none;
    padding: 15px;
    color: white;
    margin-left: 40px;
    font-size: 18px;
  }

  .menu a:hover {
    opacity: 0.5;
  }

  .close-btn {
    display: none;
  }

  /* Hamburger Menu ends here */

  .hero-container {
    position: relative; /* Ensure this container can be the reference point for absolute positioning */
    /* width: 100%; */
    height: 100vh;
  }

  .hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 72%;
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 223px;
    height: 146px;
  }

  .hero-paragraph {
    position: absolute; /* Position this element absolutely within its relative container */
    top: 43%;
    left: 12%;
    color: white;
    font-size: 48px;
    letter-spacing: 2.5px;
  }

  .scroll-down-icon {
    position: absolute; /* Position this element absolutely within its relative container */
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%); /* Center the element horizontally */
    height: 35px;
  }

  /* Our Mission section */

  .our-mission,
  .our-services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 10px;
  }

  .our-mission-title {
    font-size: 32px;
    margin-left: 21px;
    margin-top: 32px;
    margin-bottom: 17px;
    align-self: flex-start; /* using this so that it doesn't get affected by justify-content and align-items: center on the parent element */
  }

  .our-mission-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 47%;
    margin-bottom: 25px;
    margin-left: 50px;
  }

  .our-mission-paragraph-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 47%;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  .our-mission-image {
    height: 322px;
    width: 547px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px; /* will change that later for sure */
    position: absolute;
    right: 100px;
  }

  .title-and-paragraph {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  /* Our Services section */

  .our-services {
    background-color: #00242e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-services-align {
    display: flex;
    gap: 11%;
    width: 84%;
  }

  .our-services-title {
    width: 100%;
    align-self: flex-start;
    padding-left: 121px; /* Using padding instead of margin here is best, because if I use margin, the title which takes 100% width will overflow outside of the parent element and the horizontal scroll will appear */
    margin-top: 43px;
    margin-bottom: 31px;
    font-size: 32px;
  }

  .our-services p,
  a {
    color: white;
    font-family: "Open Sans", sans-serif;
  }

  .our-services,
  a {
    text-decoration: none;
  }

  .design-installations-title,
  .maintenance-title,
  .consulting-title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 600;
    font-style: italic;
  }

  .design-installations-paragraph,
  .maintenance-paragraph,
  .consulting-paragraph,
  .service-link {
    font-size: 16px;
    margin-top: 0px;
  }

  .service-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .service-link {
    margin-left: 3px;
  }

  .all-services {
    margin-bottom: 39px;
  }

  /* Call-To-Action section */

  .call-to-action {
    position: relative;
  }

  .call-to-action-title {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32%;
    left: 9.5%;
    font-family: "Open sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
  }

  .call-to-action-paragraph {
    width: 22%;
    color: white;
    position: absolute;
    top: 45%;
    left: 39%;
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
  }

  .call-to-action-title-and-paragraph {
  }

  .contact-us-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 68%;
    left: 46%;
    margin-top: 20px;
  }

  .contact-us-btn a {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    background: linear-gradient(
      to bottom,
      rgba(153, 153, 153, 0.3),
      rgba(255, 255, 255, 0.3)
    );
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
    font-size: 20px;
  }

  .contact-us-btn a:hover {
    background: linear-gradient(
      to bottom,
      rgba(153, 153, 153, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  .leaves-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
    display: block; /* This eliminates any potential whitespace below the "leaves-image" that could be added by the browser’s default image styling */
  }

  /* Footer section */
  .footer {
    align-items: center;
    justify-content: center;
    background-color: #00242e;
    display: grid;
    grid-template-columns: 0.1fr 0.2fr 0.3fr 0.3fr 1fr;
  }

  .footer-logo {
    width: 168px;
    height: 111px;
    margin-top: 40px;
    margin-left: 150px;
  }

  .horizontal-line {
    transform: rotate(90deg);
    width: 100%;
    margin-top: 50%;
    margin-bottom: 3%;
  }

  .instagram-img,
  .twitter-img,
  .linkedin-img {
    width: 16px;
    height: 16px;
    position: relative;
  }

  .instagram-link,
  .twitter-link,
  .linkedin-link {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    position: absolute;
    margin-left: 5px;
  }

  .follow-us {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 70%;
    padding-left: 2px;
    margin-bottom: 12px;
    margin-top: 10px;
  }

  .socials-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 120px;
  }

  .company-links {
    display: grid;
  }

  .our-solutions-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 130px;
  }

  .company,
  .our-solutions {
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 70%;
    padding-left: 2px;
    margin-bottom: 4px;
    margin-top: 25px;
  }

  .socials,
  .blog-and-news,
  .services,
  .about-us,
  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    width: 70%;
    font-size: 14px;
    margin-top: 9px;
    padding-left: 3px;
  }

  .international-airport,
  .bali-solar-farm,
  .manufacturing-plant {
    font-style: italic;
  }

  .copyright {
    grid-column: 1 / -1; /* Spans across all columns */
    text-align: center; /* Centers the text */
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: 9px;
    font-weight: 700;
    margin-top: 90px;
  }
}
